################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SearchService/obj
/SearchService/bin
/UnitTests/obj
/UnitTests/bin
/WebServer/obj
/WebServer/bin
/TestResults