<!DOCTYPE html>
<html lang="en">
<head>

    <title>Websökning</title>

    <style type="text/css">
        
        body, input {
            font-family: Tahoma;
            font-size:10pt;
        }
        .tdHead {
            background-color: black;
            color: white;
        }
        .tdOdd {
            background-color: blanchedalmond;
        }
        .tdEven
        {
            background-color: ghostwhite;
        }
        .resultTable {
            cellpadding: 2;
            cellspacing: 0;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

</head>
<body>

    @RenderBody()

</body>
</html>
